<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<bean class="controller.MainController">
		<property name="ncrService" ref="ncrService" />
		<property name="auditService" ref="auditService" />
		<property name="vendorService" ref="vendorService" />
	</bean>
	
	<bean class="controller.AuditController">
		<property name="auditService" ref="auditService" />
		
	</bean>
	
	<bean class="controller.LoginController">
		<property name="loginService" ref="loginService" />
		
	</bean>
	
	<bean class="controller.AdminController">
		<property name="adminService" ref="adminService" />
	</bean>
	
	<bean class="controller.NcrController">
		<property name="ncrService" ref="ncrService" />
		<property name="auditService" ref="auditService" />
		<property name="vendorService" ref="vendorService" />
		
	</bean>
	
	
	<bean class="controller.VendorController">
		<property name="vendorService" ref="vendorService" />
		
	</bean>
	
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/Setting/**" />
			<mvc:mapping path="/MSet/**" />
			<mvc:mapping path="/CLSet/**" />
			<bean class="interceptor.AdminCheckInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/audit/**" />
			<mvc:mapping path="/AuditManage" />
			<mvc:mapping path="/AuditPlanInsert" />
			<mvc:mapping path="/AuditReport" />
			<mvc:mapping path="/AuditResult" />
			<bean class="interceptor.QualityCheckInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/vendor/**" />
			<mvc:mapping path="/vendorRegister" />
			<mvc:mapping path="/vendorStatus" />
			<mvc:exclude-mapping path="/vendor/newVendor" />
			<mvc:exclude-mapping path="/vendor/prodList" />
			<bean class="interceptor.PurchaseCheckInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/ncr/**" />
			<mvc:mapping path="/ncrRegister" />
			<mvc:mapping path="/ncrManagement" />
			<mvc:mapping path="/ncrStatus" />
			<bean class="interceptor.NcrCheckInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/main" />
			<bean class="interceptor.AuthCheckInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
</beans>