<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<bean class="controller.MainController">
	</bean>
	
	<bean class="controller.AuditController">
		<property name="auditService" ref="auditService" />
		
	</bean>
	
	<bean class="controller.LoginController">
		<property name="loginService" ref="loginService" />
		
	</bean>
	
	<bean class="controller.AdminController">
		<property name="adminService" ref="adminService" />
	</bean>
	
	<bean class="controller.NcrController">
		<property name="ncrService" ref="ncrService" />
		
	</bean>
	
	
	<bean class="controller.VendorController">
		<property name="vendorService" ref="vendorService" />
		
	</bean>
</beans>