<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminSQL">

	
	<!-- //////////////	Member ///////////// -->
	
	<select id="memberList" resultType="bean.BeanMember">
		SELECT *FROM MEMBER_INFO
	</select>
	
	<select id="memberCount" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM MEMBER_INFO WHERE MEMBER_DEPART = #{depart}
	</select>
	
	
	<insert id="memberInsert" parameterType="bean.BeanMember">
		INSERT INTO MEMBER_INFO VALUES(
			#{MEMBER_ID},
			#{MEMBER_NAME},
			#{MEMBER_DEPART},
			#{MEMBER_PASS},
			#{MEMBER_TEL},
			#{MEMBER_EMAIL},
			'Y'
		)
	</insert>

	<!-- //////////////	Setting ///////////// -->
	
	<select id="cateCount" resultType="int">
		SELECT COUNT(*) FROM CATEGORY_INFO
	</select>

	<insert id="cateInsert" parameterType="bean.BeanCategory">
		INSERT INTO CATEGORY_INFO VALUES(
			#{CATEGORY_ID},
			#{CATEGORY_NAME},
			'N'
		)
	</insert>
	
	<select id="cateList" resultType="bean.BeanCategory">
		SELECT * FROM CATEGORY_INFO ORDER BY CATEGORY_NAME
	</select>
	
	<select id="prodCount" resultType="int">
		SELECT COUNT(*) FROM PRODUCT_ITEM
	</select>
	
	
	<select id="selCateList" parameterType="String" resultType="bean.BeanProduct">
		SELECT *FROM PRODUCT_ITEM WHERE CATEGORY_ID=#{cateId}
	</select>
	
	<insert id="prodInsert" parameterType="bean.BeanProduct">
		INSERT INTO PRODUCT_ITEM VALUES(
			#{CATEGORY_ID},
			#{PRODUCT_ID},
			#{PRODUCT_NAME},
			'N'
		)
	</insert>
	
	<select id="prodList" resultType="bean.BeanProduct">
		SELECT *FROM PRODUCT_ITEM ORDER BY PRODUCT_NAME
	</select>
	

</mapper>

