<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="auditSQL">

	<!-- ***************** audit List***************** -->
	<select id="allCount" resultType="int">
		SELECT COUNT (*)
		FROM VENDOR_INFO WHERE VENDOR_ID
		NOT IN
		(SELECT
		VENDOR_ID FROM
		AUDIT_INFO) AND AUDIT_NEXT_DATE IS NULL OR
		AUDIT_NEXT_DATE  <![CDATA[ <= ]]>
		TO_DATE(SYSDATE+30)

	</select>

	<select id="allList" resultType="int">

		SELECT COUNT(*) FROM AUDIT_INFO

	</select>


	<select id="regularVencorCount" resultType="int">
		SELECT count(*) FROM
		VENDOR_info WHERE AUDIT_NEXT_DATE <![CDATA[ <= ]]>
		TO_DATE(SYSDATE+30)
	</select>

	<select id="newVendorCount" resultType="int">
		SELECT COUNT(*) FROM
		VENDOR_INFO WHERE AUDIT_NEXT_DATE IS NULL AND VENDOR_ID
		NOT IN
		(SELECT
		VENDOR_ID FROM AUDIT_INFO)
	</select>

	<!-- All Audit List -->
	<select id="auditAllList" resultType="bean.AuditBean">
		SELECT ROWNUM RNUM,
		VENDOR_NAME, VENDOR_ADDRESS,
		VENDOR_ID,
		VENDOR_Q_NAME,VENDOR_Q_TEL,
		VENDOR_S_NAME,VENDOR_S_TEL, AUDIT_NEXT_DATE
		FROM VENDOR_INFO WHERE VENDOR_ID
		NOT IN
		(SELECT VENDOR_ID FROM
		AUDIT_INFO) AND AUDIT_NEXT_DATE IS NULL OR
		AUDIT_NEXT_DATE <![CDATA[ <= ]]>
		TO_DATE(SYSDATE+30)

	</select>

	<!-- Regular Vendor Audit list(not yet) -->
	<select id="auditReVendor" resultType="bean.AuditBean">
		SELECT ROWNUM RNUM,
		VENDOR_NAME, VENDOR_ADDRESS,
		VENDOR_ID,
		VENDOR_Q_NAME,VENDOR_Q_TEL,
		VENDOR_S_NAME,VENDOR_S_TEL, AUDIT_NEXT_DATE
		FROM VENDOR_INFO WHERE AUDIT_NEXT_DATE <![CDATA[ <= ]]>
		TO_DATE(SYSDATE+30)
	</select>

	<!-- New Vendor Audit list(not yet) -->
	<select id="auditNewVendor" resultType="bean.AuditBean">
		SELECT * FROM VENDOR_INFO
		WHERE AUDIT_NEXT_DATE IS NULL
		AND VENDOR_ID
		NOT IN
		(SELECT VENDOR_ID FROM
		AUDIT_INFO)
	</select>


	<!-- ************** audit plan Insert************* -->

	<insert id="newAuditPlan" parameterType="bean.AuditBean">
		INSERT INTO
		AUDIT_INFO
		(AUDIT_ID, AUDIT_KIND_ID, AUDITOR_ID, VENDOR_ID,AUDIT_PLAN_DATE,
		AUDIT_COMP_DATE)
		VALUES(
		#{AUDIT_ID},
		#{AUDIT_KIND_ID},
		#{AUDITOR_ID},
		#{VENDOR_ID},
		#{AUDIT_PLAN_DATE},
		#{AUDIT_COMP_DATE})
	</insert>



	<!-- 카테고리 리스트 -->
	<select id="cateList" resultType="bean.BeanCategory">
		SELECT * FROM CATEGORY_INFO
		ORDER BY CATEGORY_NAME
	</select>

	<!-- 물품 리스트 -->
	<select id="prodList" resultType="bean.BeanProduct"
		parameterType="String">
		select * from product_item
		where CATEGORY_ID =
		#{CATEGORY_ID}
	</select>


	<!-- check list RE -->
	<select id="checkListRE" resultType="bean.CheckListBean"
		parameterType="String">
		SELECT
		ROWNUM RNUM,
		CHECKLIST_DISCRIPTION,
		CHECKLIST_FULLSCORE
		FROM
		CHECKLIST where audit_kind_id =
		'RE'
		AND
		CHECKLIST_VALID = 'Y'
	</select>

	<!-- check list NE -->
	<select id="checkListNE" resultType="bean.CheckListBean"
		parameterType="String">
		SELECT
		ROWNUM RNUM,
		CHECKLIST_DISCRIPTION,
		CHECKLIST_FULLSCORE
		FROM
		CHECKLIST where audit_kind_id =
		'NE'
		AND
		CHECKLIST_VALID = 'Y'
	</select>


	<!-- audit Type 리스트 -->
	<select id="auditType" resultType="bean.AuditKind">
		SELECT * FROM AUDIT_KIND
	</select>

	<select id="auditListReport" resultType="bean.AuditBean">
		SELECT
		ROWNUM RNUM,
		AU.AUDIT_ID,
		V.VENDOR_NAME,
		V.VENDOR_ID,
		C.CATEGORY_NAME,
		V.VENDOR_ADDRESS,
		P.PRODUCT_NAME,
		P.PRODUCT_ID,
		Au.AUDIT_PLAN_DATE,
		Au.AUDIT_KIND_ID,
		M. MEMBER_NAME,
		M.MEMBER_ID

		FROM
		VENDOR_INFO V,
		PRODUCT_ITEM P,
		AUDIT_INFO AU,
		MEMBER_INFO M,
		CATEGORY_INFO C

		WHERE
		M.MEMBER_ID = AU.AUDITOR_ID
		AND V.VENDOR_ID = AU.VENDOR_ID
		AND
		P.PRODUCT_ID = V.PRODUCT_ID
		AND P.CATEGORY_ID = C.CATEGORY_ID
		AND
		AU.AUDIT_PLAN_DATE IS NOT NULL

	</select>

	<!-- 평가 현황 리스트 -->
	<select id="auditResult" resultType="bean.AuditBean">
		SELECT
		ROWNUM RNUM,
		AU.AUDIT_ID,
		V.VENDOR_NAME,
		V.VENDOR_ID,
		P.PRODUCT_NAME,
		P.PRODUCT_ID,
		Au.AUDIT_PLAN_DATE,
		Au.AUDIT_KIND_ID,
		M. MEMBER_NAME,
		M.MEMBER_ID,
		M.MEMBER_TEL,
		AU.AUDIT_SCORE
		FROM
		VENDOR_INFO V,
		PRODUCT_ITEM P,
		AUDIT_INFO AU,
		MEMBER_INFO M
		WHERE M.MEMBER_ID = AU.AUDITOR_ID
		AND
		V.VENDOR_ID = AU.VENDOR_ID
		AND P.PRODUCT_ID = V.PRODUCT_ID
		AND
		AU.AUDIT_PLAN_DATE IS NOT NULL
	</select>

	<select id="auditId" resultType="int">
		SELECT COUNT(*) FROM AUDIT_INFO
	</select>


	<!-- ************* INSERT ************* -->
	<insert id="auditSumit" parameterType="bean.AuditSubmitBean">
		INSERT INTO audit_info
		VALUES(
		#{CHECKLIST_ID},
		#{CHECKLIST_DISCRIPTION},
		#{AUDIT_KIND_ID},
		#{CHECKLIST_FULLSCORE},
		#{CHECKLIST_VALID}
		)
	</insert>

	<!-- 점수 입력하기 -->
	<update id="updateScore" parameterType="bean.AuditBean">
		UPDATE AUDIT_INFO 
		SET 
		AUDIT_SCORE = #{AUDIT_SCORE}, 
		AUDIT_RSINPUT_DATE = #{AUDIT_RSINPUT_DATE},
		AUDIT_NEXT_DATE = TO_DATE(SYSDATE+30),
		AUDIT_RESULT = 'Y'
		WHERE AUDIT_ID = #{AUDIT_ID}
	</update>

	<insert id="newPlan" parameterType="bean.AuditBean">
		INSERT INTO AUDIT_INFO
		(AUDIT_ID, AUDIT_PLAN_DATE,
		AUDIT_COMP_DATE,
		AUDITOR_ID) VALUES (
		#{AUDIT_ID},
		#{AUDITOR_ID},
		#{AUDIT_PLAN_DATE},
		#{AUDIT_COMP_DATE})
	</insert>

	<!-- Auditor Select -->
	<select id="getAuditorList" parameterType="String" resultType="bean.BeanMember">
		SELECT * FROM MEMBER_INFO WHERE MEMBER_DEPART = 'QUALITY'

	</select>


</mapper>

