<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="auditSQL">

	<!-- ***************** audit Manage Page********************* -->

	<!-- audit not plan list -->
	<select id="auditAllList" resultType="bean.AuditBean">
		SELECT ROWNUM RNUM,
		V.VENDOR_NAME, V.VENDOR_ADDRESS,
		V.VENDOR_ID,
		V.AUDIT_RESULT,
		V.VENDOR_Q_NAME,V.VENDOR_Q_TEL,
		V.VENDOR_S_NAME,V.VENDOR_S_TEL,
		V.AUDIT_NEXT_DATE,A.AUDIT_PLAN_DATE,
		A.AUDIT_ID
		FROM VENDOR_INFO V ,
		(SELECT * FROM AUDIT_INFO WHERE
		AUDIT_PLAN_DATE IS NULL
		OR AUDITOR_ID IS NULL) A
		WHERE V.VENDOR_ID =
		A.VENDOR_ID
		AND V.AUDIT_NEXT_DATE IS NULL OR V.AUDIT_NEXT_DATE <![CDATA[ <= ]]>
		TO_DATE(SYSDATE+30)
	</select>

	<!-- audit not plan count -->
	<select id="allCount" resultType="int">
		SELECT count (*)
		FROM VENDOR_INFO V ,
		(SELECT * FROM AUDIT_INFO WHERE
		AUDIT_PLAN_DATE IS NULL
		OR AUDITOR_ID IS NULL) A
		WHERE V.VENDOR_ID =
		A.VENDOR_ID
		AND V.AUDIT_NEXT_DATE IS NULL OR V.AUDIT_NEXT_DATE <![CDATA[ <= ]]>
		TO_DATE(SYSDATE+30)
	</select>

	<!-- check list RE -->
	<select id="checkListRE" resultType="bean.CheckListBean"
		parameterType="String">
		SELECT
		ROWNUM RNUM,
		CHECKLIST_DISCRIPTION,
		CHECKLIST_FULLSCORE,
		CHECKLIST_ID
		FROM
		CHECKLIST where audit_kind_id =
		'RE'
		AND
		CHECKLIST_VALID = 'Y'
	</select>

	<!-- check list NE -->
	<select id="checkListNE" resultType="bean.CheckListBean"
		parameterType="String">
		SELECT
		ROWNUM RNUM,
		CHECKLIST_DISCRIPTION,
		CHECKLIST_FULLSCORE,
		CHECKLIST_ID
		FROM
		CHECKLIST where audit_kind_id =
		'NE'
		AND
		CHECKLIST_VALID = 'Y'
	</select>

	<!-- audit plan update -->
	<update id="newAuditPlan" parameterType="bean.AuditBean">
		UPDATE
		AUDIT_INFO
		SET
		AUDITOR_ID = #{AUDITOR_ID},
		AUDIT_PLAN_DATE = #{AUDIT_PLAN_DATE}
		WHERE
		AUDIT_ID = #{AUDIT_ID}
	</update>

	<!-- *********** audit Report page *********** -->

	<!-- audit Report List -->
	<select id="auditListReport" resultType="bean.AuditBean"
		parameterType="bean.DateCommand">
		SELECT
		ROWNUM RNUM,
		AU.AUDIT_ID,
		V.VENDOR_NAME,
		V.VENDOR_ID,
		C.CATEGORY_NAME,
		V.VENDOR_ADDRESS,
		P.PRODUCT_NAME,
		P.PRODUCT_ID,
		Au.AUDIT_PLAN_DATE,
		Au.AUDIT_KIND_ID,
		M. MEMBER_NAME,
		M.MEMBER_ID
		FROM
		VENDOR_INFO V,
		PRODUCT_ITEM P,
		AUDIT_INFO AU,
		MEMBER_INFO M,
		CATEGORY_INFO C

		WHERE
		M.MEMBER_ID = AU.AUDITOR_ID
		AND V.VENDOR_ID =
		AU.VENDOR_ID
		AND
		P.PRODUCT_ID = V.PRODUCT_ID
		AND P.CATEGORY_ID =
		C.CATEGORY_ID
		AND
		AU.AUDIT_PLAN_DATE IS NOT NULL
		and au.audit_id not in
		(select audit_id from audit_result)
		<include refid="getSearch"></include>
	</select>

	<sql id="getSearch">
		<choose>
			<when test="from != null">
				AND AU.AUDIT_PLAN_DATE
				BETWEEN #{from} AND
				#{to}
			</when>
			<otherwise>
			</otherwise>
		</choose>
		<choose>
			<when test="vSearch !=null">
				AND V.VENDOR_NAME LIKE '%'||#{vSearch}||'%'
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</sql>


	<!-- audit id get -->
	<select id="auditId" resultType="int">
		SELECT COUNT(*) FROM AUDIT_INFO
	</select>

	<select id="cutline" resultType="int">
		SELECT AUDIT_SCORE FROM
		AUDIT_CRITERION
	</select>


	<!-- if audit pass : update vendor_info table -->
	<update id="nextDate" parameterType="bean.AuditBean">
		UPDATE VENDOR_INFO SET
		AUDIT_NEXT_DATE =
		SYSDATE+
		(SELECT AUDIT_KIND_PERIOD *365 FROM
		AUDIT_KIND WHERE AUDIT_KIND_ID = 'RE'),
		AUDIT_RESULT = 'Y'
		WHERE
		VENDOR_ID = #{VENDOR_ID}
	</update>

	<insert id="vendorRegisterRe" parameterType="bean.BeanVendor">
		INSERT INTO
		AUDIT_INFO (AUDIT_ID, AUDIT_KIND_ID, VENDOR_ID, AUDIT_NEXT_DATE)
		VALUES(#{AUDIT_ID},'RE',#{VENDOR_ID}, SYSDATE+
		(SELECT
		AUDIT_KIND_PERIOD *365 FROM
		AUDIT_KIND WHERE AUDIT_KIND_ID = 'RE'))
	</insert>

	<!-- if audit not pass : update vendor_info table -->
	<update id="nextDateFalse" parameterType="bean.AuditBean">
		UPDATE VENDOR_INFO SET
		AUDIT_RESULT = 'N'
		WHERE VENDOR_ID = #{VENDOR_ID}
	</update>

	<update id="resultFalse" parameterType="bean.AuditBean">
		UPDATE AUDIT_INFO SET
		AUDIT_RESULT = 'N',
		AUDIT_NEXT_DATE = NULL
		WHERE AUDIT_ID = #{AUDIT_ID}
	</update>


	<!-- audit Result Id get -->
	<select id="resultCount" resultType="int">
		SELECT COUNT(*) FROM
		AUDIT_RESULT
	</select>

	<!-- check list *result* insert -->
	<insert id="checkResult" parameterType="bean.AuditSubmitBean">
		INSERT INTO AUDIT_RESULT
		VALUES(
		#{AUDIT_RESULT_ID},
		#{AUDIT_ID},
		#{CHECKLIST_ID},
		#{AUDIT_SCORE})
	</insert>

	<!-- update Score -->
	<update id="updateScore" parameterType="bean.AuditBean">
		UPDATE AUDIT_INFO
		SET
		AUDIT_SCORE = #{AUDIT_SCORE},
		AUDIT_RSINPUT_DATE =
		#{AUDIT_RSINPUT_DATE},
		AUDIT_COMP_DATE = #{AUDIT_COMP_DATE},
		AUDIT_NEXT_DATE =
		SYSDATE+(SELECT AUDIT_KIND_PERIOD *365 FROM
		AUDIT_KIND WHERE AUDIT_KIND_ID = 'RE'),
		AUDIT_RESULT = 'Y'
		WHERE
		AUDIT_ID
		= #{AUDIT_ID}
	</update>


	<!-- Auditor Select -->


	<select id="getAuditorList" parameterType="String" resultType="bean.AuditBean">
		select distinct a.auditor_id,m.member_name from
		audit_info a,
		member_info m where m.member_id=a.auditor_id and
		m.member_name like
		'%'||#{auditor_name}||'%'

	</select>



	<!-- **************audit Report page***************** -->
	<!-- audit report list -->
	<select id="resultSearch" resultType="bean.AuditBean">
		SELECT
		AU.AUDIT_ID, P.PRODUCT_ID,
		V.VENDOR_NAME, V.VENDOR_ID,
		AU.AUDIT_PLAN_DATE, AU.AUDIT_RSINPUT_DATE,
		AU.AUDIT_RESULT,
		AU.AUDIT_NEXT_DATE,
		AU.AUDIT_COMP_DATE, ROWNUM RNUM,
		AU.AUDIT_KIND_ID,
		M.MEMBER_NAME,
		M.MEMBER_ID, M.MEMBER_TEL,
		V.VENDOR_Q_NAME,
		V.VENDOR_Q_TEL,
		V.VENDOR_S_NAME, V.VENDOR_S_TEL,
		V.VENDOR_ADDRESS,
		AU.AUDIT_SCORE
		FROM
		VENDOR_INFO V, PRODUCT_ITEM P,
		AUDIT_INFO AU,
		MEMBER_INFO M
		WHERE
		M.MEMBER_ID = AU.AUDITOR_ID
		AND V.VENDOR_ID =
		AU.VENDOR_ID
		AND P.PRODUCT_ID = V.PRODUCT_ID
		<include refid="searchDate"></include>
	</select>

	<sql id="searchDate">
		<choose>
			<when test="vendor != null">
				AND VENDOR_NAME = #{vendor}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</sql>

	<!-- audit report list : plan Date search -->
	<select id="getByPlanDate" parameterType="bean.DateCommand"
		resultType="bean.AuditBean">
		SELECT
		AU.AUDIT_ID, P.PRODUCT_ID,
		P.PRODUCT_NAME, V.VENDOR_NAME,
		V.VENDOR_ID, AU.AUDIT_PLAN_DATE,
		AU.AUDIT_RSINPUT_DATE,
		V.AUDIT_RESULT,
		AU.AUDIT_NEXT_DATE, AU.AUDIT_COMP_DATE,
		ROWNUM RNUM,
		AU.AUDIT_KIND_ID,
		M.MEMBER_NAME, M.MEMBER_ID,
		M.MEMBER_TEL,
		V.VENDOR_Q_NAME,
		V.VENDOR_Q_TEL, V.VENDOR_S_NAME,
		V.VENDOR_S_TEL,
		V.VENDOR_ADDRESS,
		AU.AUDIT_SCORE
		FROM
		VENDOR_INFO V, PRODUCT_ITEM P,
		AUDIT_INFO AU,
		MEMBER_INFO M
		WHERE
		M.MEMBER_ID = AU.AUDITOR_ID
		AND
		V.VENDOR_ID =
		AU.VENDOR_ID
		AND P.PRODUCT_ID = V.PRODUCT_ID
		<include refid="planDate"></include>
	</select>

	<sql id="planDate">
		<choose>
			<when test="from != null">
				AND AUDIT_RSINPUT_DATE
				BETWEEN #{from} AND
				#{to}
			</when>
			<otherwise>
			</otherwise>
		</choose>
		<choose>
			<when test="vSearch !=null">
				and vendor_name like '%'||#{vSearch}||'%'
			</when>
			<otherwise>
			</otherwise>
		</choose>
		<choose>
			<when test="complete != null">
				 and  AU.AUDIT_RESULT is not null
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</sql>
	
	<select id="incomplete" parameterType="bean.DateCommand"
		resultType="bean.AuditBean">
		SELECT
		AU.AUDIT_ID, P.PRODUCT_ID,
		P.PRODUCT_NAME, V.VENDOR_NAME,
		V.VENDOR_ID, AU.AUDIT_PLAN_DATE,
		AU.AUDIT_RSINPUT_DATE,
		V.AUDIT_RESULT,
		AU.AUDIT_NEXT_DATE, AU.AUDIT_COMP_DATE,
		ROWNUM RNUM,
		AU.AUDIT_KIND_ID,
		M.MEMBER_NAME, M.MEMBER_ID,
		M.MEMBER_TEL,
		V.VENDOR_Q_NAME,
		V.VENDOR_Q_TEL, V.VENDOR_S_NAME,
		V.VENDOR_S_TEL,
		V.VENDOR_ADDRESS,
		AU.AUDIT_SCORE
		FROM
		VENDOR_INFO V, PRODUCT_ITEM P,
		AUDIT_INFO AU,
		MEMBER_INFO M
		WHERE
		M.MEMBER_ID = AU.AUDITOR_ID
		AND
		V.VENDOR_ID =
		AU.VENDOR_ID
		AND P.PRODUCT_ID = V.PRODUCT_ID
		 and  AU.AUDIT_RESULT IS NULL
	</select>

	<!-- audit report list : score Date search -->
	<select id="getByScoreDate" parameterType="bean.DateCommand"
		resultType="bean.AuditBean">
		SELECT
		AU.AUDIT_ID, P.PRODUCT_ID,
		V.VENDOR_NAME, V.VENDOR_ID,
		AU.AUDIT_PLAN_DATE, AU.AUDIT_RSINPUT_DATE,
		AU.AUDIT_RESULT,
		AU.AUDIT_NEXT_DATE,
		AU.AUDIT_COMP_DATE, ROWNUM RNUM,
		AU.AUDIT_KIND_ID,
		M.MEMBER_NAME,
		M.MEMBER_ID, M.MEMBER_TEL, V.VENDOR_Q_NAME,
		V.VENDOR_Q_TEL, V.VENDOR_S_NAME,
		V.VENDOR_S_TEL, V.VENDOR_ADDRESS,
		AU.AUDIT_SCORE
		FROM
		VENDOR_INFO V, PRODUCT_ITEM P,
		AUDIT_INFO AU,
		MEMBER_INFO M
		WHERE
		M.MEMBER_ID = AU.AUDITOR_ID
		AND V.VENDOR_ID =
		AU.VENDOR_ID
		AND P.PRODUCT_ID = V.PRODUCT_ID
		<include refid="scoreDate"></include>
	</select>


	<sql id="scoreDate">
		<choose>
			<when test="from != null">
				AND AUDIT_RSINPUT_DATE
				BETWEEN #{from} AND
				#{to}
			</when>
			<otherwise>
			</otherwise>
		</choose>
		<choose>
			<when test="vSearch !=null">
				and vendor_name like '%'||#{vSearch}||'%'
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</sql>

	<!-- Report page get Date -->
	<select id="getDate" parameterType="String" resultType="bean.AuditBean">
		SELECT
		AUDIT_PLAN_DATE,AUDIT_RSINPUT_DATE,AUDIT_COMP_DATE FROM AUDIT_INFO
		WHERE AUDIT_ID = #{AUDIT_ID}
	</select>

	<!-- Report page get check list Result -->
	<select id="getCheakResult" parameterType="String" resultType="bean.CheckListBean">
		SELECT
		ROWNUM RNUM,
		C.CHECKLIST_DISCRIPTION,
		C.CHECKLIST_FULLSCORE,
		RE.AUDIT_SCORE FROM
		AUDIT_RESULT RE,
		CHECKLIST C
		WHERE AUDIT_ID = #{id}
		AND
		RE.CHECKLIST_ID =
		C.CHECKLIST_ID
	</select>
</mapper>

