<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ncrSQL">

   <select id="getAuditList"  parameterType = "bean.NcrAuditSearchCommand" resultType="bean.NcrAuditListCommand">
   
      select a.audit_id,v.vendor_name,a.audit_comp_date,a.audit_kind_Id,ak.audit_kind,
      a.audit_result,a.auditor_id,m.member_name
      from audit_info a, vendor_info v, audit_kind ak, member_info m
      where a.vendor_id=v.vendor_id and a.audit_kind_Id=ak.audit_kind_id and a.auditor_id=m.member_id
      and v.vendor_name like '%'||#{vendorName}||'%'
      
    </select>  
  

</mapper>
